<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/account.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>
<link href = "css/account.css" rel = "stylesheet" type = "text/css">
        <div class="title">
            <h1>Account Details</h1>
        </div>

            <form id ="editNameForm" action="/account" method="post">
                    <p>First Name</p>
                    <input type="text" name ="firstName" id="firstName" placeholder="Enter your first name">

                    <p>Last Name</p>
                    <input type="text" name = "lastName" id="lastName" placeholder="Enter your last name">

                    <p>Date of Birth</p>
                    <input type="date" name="dateOfBirthF" id="DOB">
                <br>
                <input type="submit" id="nameSubmit" value="submit">

            </form>


            <div class ="editProfilePicture">
                <p>Upload New Photo</p>
                <div class="currentPhoto">
                    <img src="res/user.png" alt="User Profile Picture">
                </div>
                <form action="/account" method="post" id ="selectPhoto" encType="multipart/form-data">
                    <input type="file" name="profilePic" placeholder="fileupload" id="profilePicture" accept=".png, .jpg, .jpeg">
                    <br> <input type="submit" value="Confirm New Picture" id="confirmPicture">
                </form>
            </div>


            <form id= "editNominationForm" action="/account" method="post">
                <p>First Nominee</p>
                <input type="text" name="nominee1email" id="firstNominee" placeholder="Jim Smith">
                <p>Second Nominee</p>
                <input type="text" name="nominee2email" id="secondNominee" placeholder="Jane Smith">
                <br>
                <input type="submit" value="Confirm Nominees" id="confirmChanges">
            </form>
        </div>

<%- include("page_template_end");%>
    </div>
</div>
<script src = "js/page_template.js"></script>
<script src = "js/account.js"></script>
</body>
</html>