<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/account.css" rel = "stylesheet" type = "text/css">

</head>

<body>
<div class="page">
    <div class = "header">
        <div class="logo">

            <div class = "logoImage">
                <img src="res/logoImage.png" alt="logo image" height="30" width="30">
            </div>
            <div class = "logoText">
                <p>
                    One Last Time
                </p>
            </div>


        </div>
        <div class = "user">
            <div class = "userImage">
                <img src="res/user.png" alt="User Profile Picture" height="40" width="40">
            </div>
            <div class = "userName">
                <p>
                    Farah Khan
                </p>
            </div>
        </div>
    </div>

    <div class = "sidebar">
        <div class = "account">
            <p>Account</p>
        </div>
        <div class = "unlock">
            <p>
                Release Time Capsules
            </p>
        </div>
        <div class = "create">
            <p>
                Create New Time Capsule
            </p>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="description"><p>Change your account details</p></div>

            <form id ="editNameForm" action="">
                    <p>First Name</p>
                    <input type="text" id="firstName" placeholder="Enter your first name">

                    <p>Last Name</p>
                    <input type="text" id="lastName" placeholder="Enter your last name">

                    <p>Date of Birth</p>
                    <input type="date" id="dob">
                <br>
                <input type="submit" id="nameSubmit" value="submit">

            </form>


            <div class ="editProfilePicture">
                <p>Upload New Photo</p>
                <div class="currentPhoto">
                    <img src="res/user.png" alt="User Profile Picture">
                </div>
                <form action="" id ="selectPhoto">
                    <input type="file" name="file_profilePicture" placeholder="fileupload" id="profilePicture" accept=".png, .jpg, .jpeg">
                </form>
            </div>


            <form id= "editNominationForm" action="">
                <p>First Nominee</p>
                <input type="text" id="firstNominee" placeholder="Jim Smith">
                <p>Second Nominee</p>
                <input type="text" id="secondNominee" placeholder="Jane Smith">
                <br>
                <input type="submit" value="Confirm Nominees" id="confirmChanges">
            </form>
        </div>
    </div>
</div>
<script src = "js/page_template.js"></script>
<script src = "js/account.js"></script>
</body>
</html>