<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/account.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>
<link href = "css/account.css" rel = "stylesheet" type = "text/css">
        <div class="changeYourDetails">
            <p>Change your account details</p>
        </div>

        <form id ="editNameForm" action="">
            <div class="editFirstName">
                <p>First Name</p>
                <input type="text" id="firstName" placeholder="John">

            </div>

            <div class="editLastName">
                <p> Last Name</p>
                <input type="text" id="lastName" placeholder="Smith">

            </div>

            <div class="editDOB">
                <p>Date of Birth</p>
                <input type="date" id="dob">
            </div>

        </form>


        <div class ="editProfilePicture">
            <p>Upload New Photo</p>
            <div class="currentPhoto">
                <img src="res/user.png" alt="User Profile Picture">
            </div>
            <form action="" id ="selectPhoto">
                <input type="file" name="file_profilePicture" placeholder="fileupload" id="profilePicture" accept=".png, .jpg, .jpeg">
            </form>
        </div>


        <form id= "editNominationForm" action="">
            <p>First Nominee</p>
            <input type="text" name="firstNominee" placeholder="Jim Smith">
            <p>Second Nominee</p>
            <input type="text" name="secondNominee" placeholder="Jane Smith">
        </form>
        <div class="submitAccountChanges">
            <input type="submit" value="Confirm Changes">
        </div>

<%- include("page_template_end");%>