<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>
    <link href = "css/comingsoon.css" rel = "stylesheet" type = "text/css">
</head>
<body>
<div class="hero-image">
    <div class="hero-text">
        <div class="comingsoon">
            <h1> One Last Time</h1>

            <h2> Coming Soon </h2>
        </div>
    </div>
    <div class="Wrapper">
            <div class ="Mina"> Mina Sorsok</div>
            <div class="Tarnvir"> Tarnvir Sing Grewal </div>
            <div class="Rodger"> Rodger Luis Ajero</div>
    </div>


</div>
</body>
</html>