<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>
    <link href = "css/comingsoon.css" rel = "stylesheet" type = "text/css">
</head>
<body>
<div class="hero-image">
    <div class="hero-text">
        <div class="comingsoon">
            <h1> ONE LAST TIME</h1>

            <h2> COMING SOON </h2>
        </div>

        <div class = "teammembers">
            <ul> Mina Sorsok</ul>
            <ul> Tarnvir Sing Grewal</ul>
            <ul> Rodger Luis Ajero</ul>
        </div>
    </div>
</div>
</body>
</html>