<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Last Time - Login</title>
    <link href = "css/login.css" rel = "stylesheet" type = "text/css">

</head>

<body>
<div class="page">
    <div class="header">
        <div class="logo">
            <div class = "logoImage">
                <img src="res/logoImage.png" alt="logo image" height="30" width="30">
            </div>
            <div class = "logoText">
                <p>
                    One Last Time
                </p>
            </div>
        </div>

        <form id = "loginForm" action="/login" method="post">
            <div class="addEmail">
                <p> Email</p>
                <input type="text" name="username" placeholder="example@email.com">
            </div>
            <div class="addPassword">
                <p>Password</p>
                <input type="password" name="password" placeholder="**********">
            </div>
            <div class="userLoginButton">
                <input id = loginButton type="submit" value="Login">
            </div>
            <div class="forgotPassword">
                Forgot Password?
            </div>
        </form>
    </div>

    <div class="description">
        <div class = descriptionText>
           <h1>Leave Your Mark</h1>
        </div>
        <div class = largeLogo>
            <img src = "res/logoImagePurple.png" width = "100%" >
        </div>
    </div>

    <form id = "signupForm" action="/register" method="post">
            <div class="SignupTEXT">
                Create an account
            </div>

            <div class="firstName">
                <input type="text" name="firstName" placeholder="First name">
            </div>


            <div class="lastName">
                <input type="text" name="lastName" placeholder="Surname">
            </div>

            <div class="dateOfBirthT TEXT">
                Date of Birth
            </div>
            <div class="dateOfBirthF">
                <input type="date" name="dateOfBirthF">
            </div>
            <div class="emailT TEXT">
                Email
            </div>

            <div class="username">
                <input type="text" name="username" placeholder="example@email.com">
            </div>
            <div class="passwordT TEXT">
                Password
            </div>
            <div class="password">
                <input type="password" name="password" placeholder="New password">
            </div>
            <div class="re-enterPasswordT TEXT">
                Re-enter Password
            </div>
            <div class="re-enterPasswordF">
                <input type="password" name="password2" placeholder="Re-enter password">
            </div>
            <div class="submitButton">
                <input type="submit" value="Submit">
            </div>
    </form>
</div>
<script src="/js/login.js"></script>
</body>
</html>