<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>
    <link href = "css/login.css" rel = "stylesheet" type = "text/css">
</head>

<body>
<div class="page">
    <div class="logo">
        ONE LAST TIME
    </div>
    <div class = "login">
        <form action="">
            Email
            <input type="text" name="email" value="example@email.com">
            Password
            <input type="text" name="password" value="**********">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class = "signup">
        <form action="">
            First Name
            <br>
            <input type="text" name="First Name" value="John">
            <br>
            Last Name
            <br>
            <input type="text" name="Last Name" value="Smith">
            <br>
            Date of Birth
            <br>
            <input type="date" name="DOB">
            <br>
            Email
            <br>
            <input type="text" name="email" value="example@email.com">
            <br>
            Password
            <br>
            <input type="text" name="password" value="**********">
            <br>
            Re-enter Password
            <br>
            <input type="text" name="re-enter password" value="**********">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

</body>
</html>