<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/newmessage.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>
<div class="new_message">
    <div class="recipients">
        <form action="" id="messageRecipients">
            <p>Recipients</p>
            <input type="text" placeholder="These people will receive your message">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="attachments">
        <p>Add Files</p>
        <form action="" id="messageAttachments">

            <input type="file" name="attachments" multiple>
            <input type="submit" value="Submit">
        </form>
    </div>

    <br>

    <div class="note">
        <p>Write a note (Optional)</p>
        <form action="" id="notesubmission">
            <textarea name="nameTextArea" form="noteSubmission" rows="10" placeholder="Enter your note here..."></textarea>
        </form>
        <input type="submit" value="Submit">
    </div>

    <div class="sendOptions">
        <form action="" id="sendOptionsForm">
            <input type="radio" name="option" value="separate" checked> Send message to recipients SEPARATELY<br>

            <input type="radio" name="option" value="group" checked> Send message to recipients as a GROUP<br>
        </form>
    </div>

    <input type="submit" value="Complete">

</div>
<%- include("page_template_end");%>