<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Last Time - Create</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/newmessage.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>
<div class="new_message">
    <div class="recipients">
        <form action="" id="messageRecipients">
            <p>Recipients</p>
            <input type="text" placeholder="These people will receive your message"> <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="attachments">
        <p>Add Files</p>
        <form action="" id="messageAttachments">

                    <input type="file" name="attachments" multiple> <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <br>

            <div class="note">
                <p>Write a note (Optional)</p>
                <form action="" id="notesubmission">
                    <textarea id="nameTextArea" form="noteSubmission" rows="10" placeholder="Enter your note here..."></textarea>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>

    <div class="sendOptions">
        <form action="" id="sendOptionsForm">
            <input type="radio" name="option" value="separate" checked> Send message to recipients SEPARATELY<br>

                    <input type="radio" name="option" value="group" checked> Send message to recipients as a GROUP<br>

                    <input type="submit" id="completeMessage" value="Complete">
                </form>
            </div>



        </div>

    </div>
</div>
<%- include("page_template_end");%>
<script src = "js/page_template.js"></script>
<script src = "js/newmessage.js"></script>
</body>
</html>