<body>
<div class="page">
    <div class = "header">
        <div class="logo">

            <div class = "logoImage">
                <img src="/res/logoImage.png" alt="logo image" height="30" width="30">
            </div>
            <div class = "logoText">
                <p>
                    One Last Time
                </p>
            </div>
        </div>
        <div class = "user">
            <div class = "userImage">
                <img src="/res/user.png" alt="User Profile Picture" height="40" width="40">
            </div>
            <div class = "userName">
                <p>
                    Farah Kahn
                </p>

            </div>
            <div class = "logout">
                <img src = "/res/logout.png" alt = "logout button" height = "20" width = "20">
            </div>
        </div>

    </div>

    <div class = "sidebar">
        <div class = "account">
            <p>Account</p>
        </div>
        <div class = "unlock">
            <p>
                Release Time Capsules
            </p>
        </div>
        <div class = "create">
            <p>
                Create New Time Capsule
            </p>
        </div>
    </div>
    <div class="content">