<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Last Time - Unlock</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/release.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>
<div class = "title">
    <h1>Release a Time Capsule</h1>

</div>
<div class = "message">
    From everyone at One Last Time we are sorry for your loss.
    To release your friend or loved one's time capsule, please provide their name and date of passing below.
</div>

<form id = "releaseForm" action="/release" method = "post">
    <div class = "deceasedName">
        <h2>Name</h2>
        <select name="deceased">
            <% if (dependents) {%>
            <% dependents.forEach(function(dependent){%>
            <option><%=dependent%></option>
            <% });}%>
        </select>
    </div>
    <div class = "datePassing">
        <h2>Date of Passing</h2>
        <input type="date" name="datePassing">
    </div>
    <div class = submitRelease>
        <input type="submit" value="Submit">
    </div>
</form>

<%- include("page_template_end");%>