<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/releaseCapsules.css" rel = "stylesheet" type = "text/css">

</head>

<body>
<div class="page">
    <div class = "header">
        <div class="logo">
            ONE LAST TIME
        </div>
        <div class = "user">
            <div class = "userImage">
                <img src="res/user.png" alt="User Profile Picture" height="40" width="40">
            </div>
            <div class = "userName">
                <p>
                    Farah Khan
                </p>
            </div>
        </div>
    </div>

    <div class = "sidebar">
        <div class = "Account">
            <p>Account</p>
        </div>
        <div class = "ReleaseCapsules">
            <p>
                Release Time Capsules
            </p>
        </div>
        <div class = "CreateCapsule">
            <p>
                Create New Time Capsule
            </p>
        </div>
    </div>
    <div class="content">
        <div class = "message">
            From everyone at One Last Time we are sorry for your loss.
            To release your friend or loved one's time capsule, please provide their name and date of passing below.
        </div>
        <form id = "releaseForm" action="">
            <div class = "deceasedName">
                Name <br>
                <select name="placeholder">
                    <option value="John">John</option>
                    <option value="Lucy">Lucy</option>
                    <option value="Steve">Steve</option>
                    <option value="Alice">Alice</option>
                </select>
            </div>
            <div class = "dob">
                Date of Birth
                <br>
                <input type="date" name="DOB">
            </div>
                <input id = submit type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<script src = "js/releaseCapsules.js"></script>
</body>
</html>