<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/unlock.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>
<div class = "message">
            From everyone at One Last Time we are sorry for your loss.
            To release your friend or loved one's time capsule, please provide their name and date of passing below.
        </div>
        <form id = "releaseForm" action="">
            <div class = "deceasedName">
                <p>Name</p>
                <select name="placeholder">
                    <option value="John">John</option>
                    <option value="Lucy">Lucy</option>
                    <option value="Steve">Steve</option>
                    <option value="Alice">Alice</option>
                </select>
            </div>
            <div class = "datePassing">
                <p>Date of Passing</p>
                <input type="date" name="datePassing">
            </div>
            <div class = submitRelease>
                <input type="submit" value="Submit">
            </div>
        </form>

<%- include("page_template_end");%>