<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/user_inbox.css" rel = "stylesheet" type = "text/css">

</head>

<body>
<div class="page">
    <div class = "header">
        <div class="logo">

            <div class = "logoImage">
                <img src="res/logoImage.png" alt="logo image" height="30" width="30">
            </div>
            <div class = "logoText">
                <p>
                    One Last Time
                </p>
            </div>


        </div>
        <div class = "user">
            <div class = "userImage">
                <img src="res/user.png" alt="User Profile Picture" height="40" width="40">
            </div>
            <div class = "userName">
                <p>
                    Farah Khan
                </p>
            </div>
        </div>
    </div>

    <div class = "sidebar">
        <div class = "account">
            <p>Account</p>
        </div>
        <div class = "unlock">
            <p>
                Release Time Capsules
            </p>
        </div>
        <div class = "create">
            <p>
                Create New Time Capsule
            </p>
        </div>
    </div>
    <div class="content">

        <div class="inbox">
            <div class="inboxEmail">
                <div class="senter">Mina</div>
                <div class="messageTitle">Thank for extension</div>
                <div class="date">19/04/2018</div>
            </div>
        </div>

        <div class="sent">
            <div class="sentEmail">
                <div class="senter">Mina</div>
                <div class="messageTitle">Database memes</div>
                <div class="date">18/04/2018</div>
            </div>
        </div>



    </div>
</div>
<script src = "js/page_template.js"></script>
</body>
</html>