<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/user_welcome.css" rel = "stylesheet" type = "text/css">

</head>

<body>
<div class="page">
    <div class="logo">
        ONE LAST TIME
    </div>
    <div class = "user">
        <img src="smiley.jpg" alt="User Profile Picture" height="42" width="42">
        &ltFirst Name&gt
    </div>

    <div class = "sidebar">
        <div class = "Account">
            <a href=""">
                Account
            </a>
        </div>
        <div class = "ReleaseCapsules">
            <a href="">
                Release Time Capsules
            </a>
        </div>
        <div class = "CreateCapsule">
            <a href="">
                Create New Time Capsule
            </a>
        </div>
    </div>
    <div class="content">

        <div class="welcomeTitle">Welcome Guest,</div>
        <div class="standardText">would you like to create a new Time Capsule?</div>
        <div class="createNewTimeCapsuleButton button"> <a href="">Create New Message </a></div>
        <br>
        <div class="standardText">or would you like to unlock a Time Capsule?</div>
        <div class="unlockTimeCapsule button"> <a href="">Unlock Time Capsule</a></div>
    </div>
</div>
</body>
</html>