<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/user_inbox.css" rel = "stylesheet" type = "text/css">

</head>

<body>
<div class="page">
    <div class = "header">
        <div class="logo">
            ONE LAST TIME
        </div>
        <div class = "user">
            <div class = "userImage">
                <img src="res/user.png" alt="User Profile Picture" height="40" width="40">
            </div>
            <div class = "userName">
                <p>
                    Farah Khan
                </p>
            </div>
        </div>
    </div>

    <div class = "sidebar">
        <div class = "Account">
            <p>Account</p>
        </div>
        <div class = "ReleaseCapsules">
            <p>
                Release Time Capsules
            </p>
        </div>
        <div class = "CreateCapsule">
            <p>
                Create New Time Capsule
            </p>
        </div>
    </div>
    <div class="content">
        <div class="sentText"> Messages to be Sent(2)</div>
        <div class="drafts">
            <div class="box">
                <div class="aTimeCapsuleE">
                    <div class="timecapsuleTo">○ John</div>
                    <div class="editButton"><a href=""> Edit</a></div>
                </div>
                <div class="aTimeCapsuleE">
                    <div class="timecapsuleTo">○ Steve</div>
                    <div class="editButton"><a href=""> Edit</a></div>
                </div>

            </div>
        </div>
        <br>
        <div class="recivedText">Messages Received(2)</div>
        <div class="inbox"></div>
        <div class="box">
            <div class="aTimeCapsuleR">
                <div class="timecapsuleFrom">○ Alice</div>
                <div class="viewButton"><a href=""> View</a></div>
            </div>
            <div class="aTimeCapsuleR">
                <div class="timecapsuleFrom">○ Huddson</div>
                <div class="viewButton"><a href=""> View</a></div>
            </div>
        </div>
    </div>
    </div>
</div>
<script src = "js/user_inbox.js"></script>
</body>
</html>