<%- include("page_template_start");%>
<div class="inbox">
            <div class="inboxEmail">
                <div class="senter">Mina</div>
                <div class="messageTitle">Thank for extension</div>
                <div class="date">19/04/2018</div>
            </div>
        </div>

        <div class="sent">
            <div class="sentEmail">
                <div class="senter">Mina</div>
                <div class="messageTitle">Database memes</div>
                <div class="date">18/04/2018</div>
            </div>
        </div>

<%- include("page_template_end");%>