<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/user_welcome.css" rel = "stylesheet" type = "text/css">
    <link href = "css/user_welcome.css" rel = "stylesheet" type = "text/css">
</head>

<%- include("page_template_start");%>

<div class="welcomeTitle">Welcome <% if (typeof firstName == 'string' && firstName) { %>
    <%-firstName%><%}%>
</div>
<div class="standardText">Would you like to create a new Time Capsule?</div>
<a href="/create"> <div  class="button" id="create"> Create New Time Capsule </div></a>

<div class="standardText">or would you like to release a Time Capsule?</div>
<a href="/release"> <div class="button" id = "release">Release Time Capsule</div></a>

<script src ="js/user_welcome.js"></script>
<%- include("page_template_end");%>