<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/user_welcome.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>

<div class="welcomeTitle">Welcome Farah,</div>
<div class="standardText">would you like to create a new Time Capsule?</div>
<a href="/userInbox"> <div  class="createNewTimeCapsuleButton button"> Check Inbox </div></a>

<div class="standardText">or would you like to release a Time Capsule?</div>
<a href="/unlock"> <div class="unlockTimeCapsule button">Release Time Capsule</div></a>

<%- include("page_template_end");%>