<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Last Time - Inbox</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/user_inbox.css" rel = "stylesheet" type = "text/css">

</head>
<%- include("page_template_start");%>
<div class="title">
    <h1> Home</h1>
</div>

<h2 id = "inboxHeaderText">Inbox</h2>

<div class="inbox">
    <div class="HeaderBoxReceived">
        <div class="fromHeader"><p>From</p></div>
        <div class="titleHeader"><p>Title</p></div>
        <div class="dateReceivedHeader"><p>Date Received</p></div>
    </div>
    <div class="inboxAllEmails">
        <div class="inboxEmail">
            <div class="From">Mina</div>
            <div class="messageTitle">Thanks for extension</div>
            <div class="date">19/04/2018</div>
        </div>
        <div class="inboxEmail">
            <div class="From">Eduardo</div>
            <div class="messageTitle">You are v cool</div>
            <div class="date">02/02/2018</div>
        </div>
    </div>
</div>
<h2 id = "sentHeaderText">Sent</h2>
<div class="sent">
    <div class="HeaderBoxSent">
        <div class="recipientHeader"><p>Recipient</p></div>
        <div class="titleHeaderSent"><p>Title</p></div>
        <div class="dateCreatedHeader"><p>Date Created</p></div>
    </div>
    <div class="allSentEmails">

        <div class="sentEmail">
            <div class="sentTO">Mina</div>
            <div class="messageTitle">Database memes</div>
            <div class="date">18/04/2018</div>
        </div>

        <div class="sentEmail">
            <div class="sentTo">Luis</div>
            <div class="messageTitle">PowerPuff girl memes</div>
            <div class="date">17/04/2018</div>
        </div>
    </div>
</div>
<script src="js/user_inbox.js"></script>
<%- include("page_template_end");%>