<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/page_template.css" rel = "stylesheet" type = "text/css">
    <link href = "css/user_welcome.css" rel = "stylesheet" type = "text/css">

</head>

<%- include("page_template_start");%>

<div class="welcomeTitle">Welcome Farah,</div>
<div class="standardText">would you like to create a new Time Capsule?</div>
<div  class="createNewTimeCapsuleButton button">Create New Message </div>
<br>
<div class="standardText">or would you like to unlock a Time Capsule?</div>
<div class="unlockTimeCapsule button"> Unlock Time Capsule</div>

<%- include("page_template_end");%>