<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coming Soon</title>
    <link href = "css/user_welcome.css" rel = "stylesheet" type = "text/css">

</head>

<body>
<div class="page">
    <div class = "header">
        <div class="logo">
            ONE LAST TIME
        </div>
        <div class = "user">
            <div class = "userImage">
                <img src="res/user.png" alt="User Profile Picture" height="40" width="40">
            </div>
            <div class = "userName">
                <p>
                    Farah Khan
                </p>
            </div>
        </div>
    </div>

    <div class = "sidebar">
        <div class = "Account">

            <p>Account</p>

        </div>
        <div class = "ReleaseCapsules">
            <p>
                Release Time Capsules
            </p>
        </div>
        <div class = "CreateCapsule">
            <p>
                Create New Time Capsule
            </p>
        </div>
    </div>
    <div class="content">
        <div class="welcomeTitle">Welcome Guest,</div>
        <div class="standardText">would you like to create a new Time Capsule?</div>
        <div  class="createNewTimeCapsuleButton button"><a href="">Create New Message </a></div>
        <br>
        <div class="standardText">or would you like to unlock a Time Capsule?</div>
        <div class="unlockTimeCapsule button"> <a href="">Unlock Time Capsule</a></div>
</div>
</div>
<script src = "js/user_welcome.js"></script>
</body>
</html>