@font-face {
    font-family: 'Charlevoix Pro';
    src: url("fonts/CharlevoixPro-Regular.woff");
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url("fonts/CharlevoixPro-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: 'Unna';
    src: url("fonts/Unna-Regular.ttf");
}

@font-face {
    font-family: 'Unna';
    src: url("fonts/Unna-Bold.ttf");
    font-weight: bold;
}


@media screen and (min-width: 992px) {
    .content{
        display: grid;
        font-family: "Unna";
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;
        background-color: #f1f0ff;
        grid-template-areas:
                "title title"
                "pictureDetails nameDetails"
                "changeNomineeTitle changeNomineeTitle"
                "nomineeDetails nomineeDetails";
    }

    .title{
        grid-area: title;
        text-align: center;
        font-size: 150%;
    }

    h1{
        font-family: "Charlevoix Pro";
        padding: 0em;
        width: 100%;
    }

    .description {
    }
    .description p {
        padding: 0 1em;
    }

    .currentPhoto img {
        height: 80%;
        width: 80%;
    }

    #editNameForm {
        grid-area: nameDetails;
        padding: 0 1em;
    }

    .editProfilePicture {
        justify-self: center;
        grid-area: pictureDetails;
        padding: 0 1em;
    }
    .changeNomineesTitle {
        grid-area: changeNomineeTitle;
        text-align: center;
    }

    #editNominationForm {
        display: grid;
        grid-template-areas: "firstNom secondNom" "firstNom secondNom" "submit submit";
        grid-area: nomineeDetails;
        padding: 0 1em;
    }

    .firstNominee {
        justify-self: left;
        grid-area: firstNom;
    }
    .secondNominee {
        justify-self: left;
        grid-area: secondNom;
    }
    #editNominationForm input {
        display: inline;
    }
    .firstNameTitle, .lastNameTitle, .dobTitle, .profilePicTitle, .firstNomineeTitle,.secondNomineeTitle,.changeNomineesTitle {
        font-size: 150%;
    }

    input[type=submit] {
        padding: 1em 0.5em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "Charlevoix Pro";
        font-size: 100%;
        width: 30%;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #editNameForm input[type=text]{
        padding: 1.1em 8em 1.1em 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        font-size: 100%;
        color: #fff;
        font-family: "Charlevoix Pro";
        width: 65%;
    }

    #editNominationForm input[type=text]{
        padding: 1.1em 8em 1.1em 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        font-size: 100%;
        color: #fff;
        font-family: "Charlevoix Pro";
        width: 90%;
    }

    #editNominationForm input[type=submit] {
        justify-self: left;
        grid-area: submit;
        width: 15%;
    }

    input[type=date] {
        text-align: center;
        padding: 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "Charlevoix Pro";
        font-size: 100%;
        width: 65%;
    }

    input[type=file] {
        font-size: 100%;
    }


    ::placeholder {
        color: #ffffff;
    }

}

@media screen and (max-width: 992px) {
    .content{
        font-family: "Unna";
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;
        font-size: 200%;
    }
    .description {
    }
    .description p {
        padding: 0 1em;
    }

    .currentPhoto img {
        height: 25%;
        width: 25%;
    }

    #editNameForm {
        padding: 0 1em;
    }

    .editProfilePicture {

        padding: 0 1em;
    }

    #editNominationForm {
        padding: 0 1em;
    }

    #editNameForm p, #editNominationForm p, .editProfilePicture p {
        font-size: 200%;
    }

    input[type=submit] {
        padding: 0.5em 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "Charlevoix Pro";
        font-size: 65%;
        width: 30%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    input[type=text]{
        padding: 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "Charlevoix Pro";
        font-size: 75%;
        width: 60%;
    }

    input[type=date] {
        padding: 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "Charlevoix Pro";
        font-size: 75%;
        width: 30%;
    }


    ::placeholder {
        color: #ffffff;
    }
}