@font-face {
    font-family: 'CV-regular';
    src: url("fonts/CharlevoixPro-Regular.woff");
}

@font-face {
    font-family: 'Unna-regular';
    src: url("fonts/Unna-Regular.ttf");
}


@media screen and (min-width: 992px) {
    .content{
        font-family: "Unna-regular";
        font-size: 70%;
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;

    }
    .changeYourDetails {
        display: block;
        font-size: 200%;
        text-align: left;
        margin: 0 0.5em;
    }

    #editNameForm {
        margin: 0 1em;
        display: grid;
    }


    #editNameForm p{
        font-size:175%;
    }

    #editNameForm input[type=text]{
        padding: 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "CV-regular";
        font-size: 100%;
        width: 60%;
    }

    #editNominationForm input[type=text]{
        padding: 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "CV-regular";
        font-size: 100%;
        width: 60%;
    }

    input[type = submit]{
        width: 25%;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "CV-regular";
        font-size: 100%;
        box-sizing: border-box;
        padding: 1em 2em;
    }



    #editNameForm input[type=date]{
        padding: 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "CV-regular";
        font-size: 100%;
        width: 40%;
        text-align: center;
    }

    ::placeholder {
        color: #fff;
    }


    .editProfilePicture {
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "currentPhoto selectPhoto space";
    }

    .editProfilePicture p{
        font-size: 175%;
    }
    .currentPhoto{
        padding: 1em;
        grid-area: currentPhoto;
    }

    .currentPhoto img{
        height: 30%;
        width: 30%;
    }
    #selectPhoto {
        grid-column: selectPhoto;
    }

    #editNominationForm {
        display: grid;
        grid-area: editNominees;
        margin: 1em 1em;
    }

    #editNominationForm p{
        font-size: 175%;
    }

    .submitAccountChanges {
        margin: 1em 1em;
    }


    /* end Luis code*/

}

@media screen and (max-width: 992px) {

}