@font-face {
    font-family: 'CV-regular';
    src: url("fonts/CharlevoixPro-Regular.woff");
}


@media screen and (min-width: 992px) {
    body{
        margin: 0;
        background-color: #f1f1f1;
    }
    .page {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 5.5fr 2fr 1fr 1fr 1fr;
        grid-template-rows: 3em auto;
        grid-template-areas: "header header header header header header" " . description signup signup signup .";
        font-family: 'CV-regular';
        grid-row-gap: 2em;
        height: 100%;
    }
    .header{
        grid-area: header;
        display: grid;
        grid-template-columns: 6fr 5.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo login login login";
        color: #fff;
        align-items: center;
        font-family: 'CV-regular';
        background-color: #56327d;
    }
    .logo{
        grid-area: logo;
        display: grid;
        grid-template-columns: 1fr 1em 0.4fr 1.2fr 3.4fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". . logoImage logoText .";
        align-items: center;
    }
    .logoImage{
        grid-area: logoImage;
        cursor: pointer;

    }
    .logoText{
        grid-area: logoText;
        cursor: pointer;
    }

    .loginSection{

        grid-area: login;
        display: grid;
        grid-template-columns:2fr 2fr 0.75fr 0.75fr;

        grid-template-areas: "addEmail addPassword userLoginButton forgotPassword";
        align-items: center;

    }
    .addEmail{
        font-family: 'CV-regular';
        grid-area: addEmail;
    }
    .addPassword{
        font-family: 'CV-regular';
        grid-area: addPassword;
    }

    .userLoginButton{
        font-family: 'CV-regular';
        grid-area: userLoginButton;
    }

    .forgotPassword{
        font-family: 'CV-regular';
        grid-area: forgotPassword;
    }





    /* Header ends here */


    .signup{
        font-family: 'CV-regular';
        display: grid;
        grid-template-columns: 1fr;
        grid-area: signup;
        grid-row-gap: 0.5em;
        color: #fff;
        align-items: center;
        grid-template-rows: repeat(13, fit-content(100%));
        grid-template-areas: "account" "unlock" "create";
        background-color: #957ead;
        padding-left: 10%;
    }

    .signup *{


        cursor: pointer;
    }
    .description{
        padding-right: 3.05%;
        grid-area: description;
    }
}













@media screen and (max-width: 992px) {
    .page{
        position:relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr auto auto;
        grid-template-areas:
                "logo"
                "description"
                "login"
                "signup";
        padding: 0% 5%;
    }

    #loginform{
        position:relative;
        width: 100%;
        height: 100%;
    }

    .loginEmail, .loginPassword, .loginButton {
        margin: 3% 0;
    }


    .logo{
        grid-area: logo;

    }

    .login{
        grid-area: login;
    }


    .description{
        grid-area: description;
    }

    .signup{
        grid-area: signup;
        visibility: hidden;

    }


    .signup input[type=text]{
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .signup input[type=date]{
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .login input[type=text]{
        width: 95%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .signupName {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-template-areas: "firstName lastName";
    }

    .firstName{
        grid-area: firstName;
    }

    .lastName{
        grid-area: lastName;
    }
}