@font-face {
    font-family: 'Montserrat', sans-serif;;
    src: url("https://fonts.googleapis.com/css?family=Montserrat");
}


@media screen and (min-width: 992px) {
    .page {
        display: grid;
        grid-template-columns: 7fr 1fr 1fr;
        grid-template-rows: 4em auto;
        grid-template-areas: "logo user user" "content content sidebar";
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        padding: 0 10%;
        height: 81vh;
    }

    .logo{
        text-align: center;
        grid-area: logo;
        background-color:#9A67A2 ;
    }

    .user{
        grid-area: user;
        background-color: #9A67A2;
    }

    .content{
        grid-area: content;
    }

    .new_message{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 2fr 1fr auto;
        grid-template-areas:
                "recipients"
                "addFiles"
                "writeNote"
                "sendOptions"
                "submit";
        grid-row-gap: 1em;
        grid-column-gap: 1em;
    }

    .recipients{
        grid-area: recipients;
    }
    .attachments{
        grid-area: addFiles;
    }
    .note{
        grid-area: writeNote;
        width: 100%;
        height: 100%;
    }

    .sendOptions{
        grid-area: sendOptions;
    }

    input[type=text]{
        width: 60%;
        padding: 1em 1.2em;
        margin: 0.5em 0;
        display: inline-block;
        border: 0.1em solid #ccc;
        border-radius: 0.2em;
        box-sizing: border-box;
    }
    input[type=date]{
        padding: 1em 1.2em;
        margin: 0.5em 0;
        border: 0.1em solid #ccc;
        border-radius: 0.2em;
        box-sizing: border-box; /*this did nothing lol*/
    }

    textarea{
        width: 60%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        resize: none;
    }

    .sidebar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, 1fr) auto;
        grid-area: sidebar;
        color: #000!important;
        background-color: #D9B5E3!important;
    }
    .sidebar a{
        display: inline-block;
        text-align: center;
    }

    .Account{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .Account:hover{
        background-color: #888888;
    }

    .ReleaseCapsules{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .CreateCapsule{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

@media screen and (max-width: 992px) {

}