@font-face {
    font-family: 'CV-regular';
    src: url("fonts/CharlevoixPro-Regular.woff");
}

@font-face {
    font-family: 'Unna-regular';
    src: url("fonts/Unna-Regular.ttf");
}


@media screen and (min-width: 992px) {
    body {
        margin: 0 0;
    }

    /* template css */
    .page {
        display: grid;
        grid-template-columns: 1fr 7fr 0.8fr 0.8fr 0.5fr 1fr;
        grid-template-rows: 3em auto;
        grid-template-areas: "header header header header header header" ". content sidebar sidebar sidebar .";
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        height: 100vh;
        background-color: #f1f1f1;
    }

    .header{
        grid-area: header;
        display: grid;
        grid-template-columns: 8fr 2em 3.1fr 2em;
        grid-template-rows: 1fr;
        grid-template-areas: "logo logo user user";
        color: #fff;
        align-items: center;
        font-family: 'CV-regular';
    }

    .logo{
        grid-area: logo;
        background-color: #56327d;
        display: grid;
        grid-template-columns: 1fr 1em 0.4fr 6.6fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". . logoImage logoText";
        align-items: center;

    }

    .logoImage{
        grid-area: logoImage;
    }

    .logoText{
        grid-area: logoText;
    }

    .user{
        grid-area: user;
        display: grid;
        grid-template-columns: 0.5fr 3.2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "image name";
        grid-column-gap: 0.5em;
        align-items: center;
        background-color: #56327d;
    }
    .userImage{
        grid-area: image;
    }

    .userName{
        grid-area: name;
    }


    .sidebar{
        font-family: 'CV-regular';
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, 1fr) auto;
        grid-row-gap: 0.5em;
        grid-area: sidebar;
        color: #fff;
        align-items: center;
    }

    .sidebar *{
        padding-left: 0.5em;
        background-color: #957ead;


    }

    .account{
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .unlock{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .create{
        grid-column: 1/2;
        grid-row: 3/4;
    }



    /* page specific css */

    .content{
        font-family: "Unna-regular";
        font-size: 200%;
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;
     }

    .message{
        display: block;
        padding: 1em 0;

    }

    #releaseForm{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1em;
        grid-template-areas: ". deceasedName datePassing ." ". submitRelease submitRelease. ";
        align-items: center;
        background-color: #f1f1f1;
        font-size: 70%;

    }

    #releaseForm input, #releaseForm select{
        padding: 1em;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "CV-regular";
        font-size: 100%;
        width: 100%;
    }

    #releaseForm input[type = submit]{
        width: 100%;
        box-sizing: border-box;
        background-color: #957ead;
        border-style: none;
        color: #fff;
        font-family: "CV-regular";
        font-size: 100%;
        box-sizing: border-box;
        padding: 1em 2em;
    }


    .deceasedName{
        grid-area: deceasedName;
    }

    .datePassing{
        grid-area: datePassing;
    }

    .submitRelease{
        grid-area: submitRelease;
        justify-self: center;
    }






}

@media screen and (max-width: 992px) {

}