@font-face {
    font-family: 'Charlevoix Pro';
    src: url("fonts/CharlevoixPro-Regular.woff");
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url("fonts/CharlevoixPro-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: 'Unna';
    src: url("fonts/Unna-Regular.ttf");
}

@font-face {
    font-family: 'Unna';
    src: url("fonts/Unna-Bold.ttf");
    font-weight: bold;
}


@media screen and (min-width: 992px) {
    .content{
        font-family: "Charlevoix Pro";
        font-size: 200%;
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;
        text-align: center;
    }


    .welcomeTitle{
        font-size: 300%;
    }
    .standardText{
        font-size: large;
        padding-top: 2%;
        padding-bottom: 0.5%;
    }
    .button {
        background-color: #957ead;
        font-family: 'Charlevoix Pro';
        border: none;
        padding: 15px 32px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }



}

@media screen and (max-width: 992px) {
    .content{
        font-family: "Charlevoix Pro";
        font-size: 200%;
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;
        text-align: center;
    }


    .welcomeTitle{
        font-size: 300%;
    }
    .standardText{
        font-size: large;
        padding-top: 2%;
        padding-bottom: 0.5%;
    }
    .button {
        background-color: #957ead;
        font-family: 'Charlevoix Pro';
        border: none;

        padding: 15px 32px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }



}