@font-face {
    font-family: 'Charlevoix Pro';
    src: url("fonts/CharlevoixPro-Regular.woff");
}

@font-face {
    font-family: 'Charlevoix Pro';
    src: url("fonts/CharlevoixPro-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: 'Unna';
    src: url("fonts/Unna-Regular.ttf");
}

@font-face {
    font-family: 'Unna';
    src: url("fonts/Unna-Bold.ttf");
    font-weight: bold;
}


@media screen and (min-width: 992px) {
    .content{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 6fr 0.5fr 0.5fr;
        grid-template-rows: auto auto auto auto auto;
        grid-row-gap: 3em;
        grid-template-areas: ". . preamble . ." ". . note . ." "videoGallery videoGallery videoGallery videoGallery videoGallery"
        "photoGallery photoGallery photoGallery photoGallery photoGallery" ". files files files .";
        font-family: "Unna";
        font-size: 140%;
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;
     }

    .preamble{
        grid-area: preamble;
        text-align: center;

    }
    .note{
        grid-area: note;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "text";
    }

    .note img{
        grid-area: text;
        justify-self: left;
        align-self: end;
    }

    .note p{
        grid-area: text;
        width: 99%;
        background-color: #957ead;
        padding: 1em;
        box-sizing: border-box;
        margin: -2em 0 0 0;
        border-radius: 1em;
        justify-self: right;
    }

    .videoGallery{
        grid-area: videoGallery;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.9fr 0.1fr 6fr 0.1fr 0.9fr;
        grid-template-areas: "prevVideo . video . nextVideo";
        align-items: center;
        justify-items: center;

    }

    .videoGallery .video{
        grid-area: video;
        box-sizing: border-box;
        display: none;
    }

    .prevVideo{
        grid-area: prevVideo;
        color: #957ead;
        font-family: "Charlevoix Pro";
        font-weight: bold;
        font-size: 200%;

    }

    .nextVideo{
        grid-area: nextVideo;
        color: #957ead;
        font-family: "Charlevoix Pro";
        font-weight: bold;
        font-size: 200%;

    }

    .photoGallery{
        grid-area: photoGallery;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.9fr 0.1fr 6fr 0.1fr 0.9fr;
        grid-template-areas: "prevPhoto . photo . nextPhoto";
        align-items: center;
        justify-items: center;
        font-family: "Charlevoix Pro";
        font-weight: bold;
    }

    .photo{
        grid-area: photo;
        box-sizing: border-box;
        display: none;
    }

    .prevPhoto{
        grid-area: prevPhoto;
        color: #957ead;
        font-family: "Charlevoix Pro";
        font-weight: bold;
        font-size: 200%;


    }
    .nextPhoto{
        grid-area: nextPhoto;
        color: #957ead;
        font-family: "Charlevoix Pro";
        font-weight: bold;
        font-size: 200%;
    }

}

@media screen and (max-width: 992px) {

}