@font-face {
    font-family: 'CV-regular';
    src: url("fonts/CharlevoixPro-Regular.woff");
}

@font-face {
    font-family: 'Unna-regular';
    src: url("fonts/Unna-Regular.ttf");
}


@media screen and (min-width: 992px) {
    .content{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 6fr 0.5fr 0.5fr;
        grid-template-rows: auto auto auto auto auto;
        grid-row-gap: 3em;
        grid-template-areas: ". . preamble . ." ". . note . ." ". videoGallery videoGallery videoGallery ."
        ". photoGallery photoGallery photoGallery ." ". files files files .";
        font-family: "Unna-regular";
        font-size: 140%;
        grid-area: content;
        box-sizing: border-box;
        padding: 0 1em;
     }

    .preamble{
        grid-area: preamble;
        text-align: center;

    }
    .note{
        grid-area: note;
    }

    .note p{
        background-color: #957ead;
        padding: 1em;
        box-sizing: border-box;
        margin: -2em 0 0 0;
    }

    .videoGallery{
        grid-area: videoGallery;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.5fr 6fr 0.5fr;
        grid-template-areas: "prevVideo video nextVideo";
        align-items: center;
        justify-items: center;

    }

    .video{
        grid-area: video;
        box-sizing: border-box;
    }

    .prevVideo{
        grid-area: prevVideo;
        color: #56327d;

    }
    .nextVideo{
        grid-area: nextVideo;
        color: #56327d;

    }

    .photoGallery{
        grid-area: photoGallery;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.5fr 6fr 0.5fr;
        grid-template-areas: "prevPhoto photo nextPhoto";
        align-items: center;
        justify-items: center;
    }

    .photo{
        grid-area: photo;
    }

    .prevPhoto{
        grid-area: prevPhoto;

    }
    .nextPhoto{
        grid-area: nextPhoto;

    }

}

@media screen and (max-width: 992px) {

}